<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">

  <object id="xiangwan-zhihudaily-executor" type="ZhihuDaily2Epub.Executor,ZhihuDaily2Epub">  
  </object>

  <object id="job-xiangwan-zhihudaily" type="Spring.Scheduling.Quartz.MethodInvokingJobDetailFactoryObject, Spring.Scheduling.Quartz2">
    <property name="TargetObject" ref="xiangwan-zhihudaily-executor" />
    <property name="TargetMethod" value="Start" />
    <property name="Concurrent" value="false" />
  </object>
  
  <object id="cronTrigger-xiangwan-zhihudaily" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz2"> 
    <property name="jobDetail" ref="job-xiangwan-zhihudaily" /> 
    <property name="cronExpressionString" value="0 0 19 * * ?" />
  </object>  
</objects>
